@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MochiyPop";
  src: url("/fonts/MochiyPopPOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mitr";
  src: url("/fonts/Mitr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MerriweatherSans";
  src: url("/fonts/MerriweatherSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
